{% extends 'base.html' %}
{% block content %}
{{ super() }}
<div class="container">
<p>Центр письма в МГУ работает с широким видением сотрудничества в сообществе МГУ; одноранговые консультации со студентами, преподавателями и сообществом позволяют нам расширять идеи грамотности и сочинения за пределы традиционных моделей и географических границ.</p>

<br>
<p>Учитывая это видение как для академии, так и для мирового сообщества, Центр письма стремится:</p>
<br>
<ul>
    <li>Работа и развитие нескольких грамотных</li>
    <li>Поощрение и содействие сотрудничеству</li>
    <li>Поддержка междисциплинарных методов мышления, письма и исследований</li>
    <li>Содействие разнообразному пониманию письма и дисциплин, в которых они расположены</li>
    <li>Использование новых технологий педагогически ответственными способами</li>
</ul>  
<br>
<p>Эта философия затем направляет наши программные разработки и стимулирует изменения по мере необходимости.</p>  
<br>
<p>Мы считаем, что этот обширный взгляд на письмо, грамотность и педагогику позволяет нам удовлетворять постоянно меняющиеся потребности разнообразного избирательного округа и заставляет нас постоянно расти как Центр письма в МГУ.</p>

</div>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}