<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Site</title>
</head>
<body>
    {% block content %}
    <div class="nav">
        <ul class="mainmenu">
            {% for m in menu %}
            <li><a href="{{ m.url }}">{{ m.name }}</a></li>
            {% endfor %}
        </ul>

    </div>
    {% endblock %}
</body>

{% block footer %}
<div class="footer">
    <p>Copyright © 2023</p>
</div>
{% endblock %}
</html>